In [5]:
import mysql.connector #cheatsheet
database = mysql.connector.connect(
host = "localhost",
user = "root",
password= "",
database = "first xampp"
)
db = database.cursor()
db.execute("SELEcT*FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Raj', 27, 'Lalitpur', '9863653307')
(2, 'Gautam', 25, 'pokhara', '9841703635')
(3, 'Radhe', 24, 'kathmandu', '9810151010')

In [10]:
db.execute("SELECT*FROM student WHERE Address LIKE '%Lalitpur'")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Raj', 27, 'Lalitpur', '9863653307')

In [17]:
db.execute("INSERT INTO student(Name, Age, Address, Phone) VALUES('Sandesh',28,'Dolpa','9813242525')")
database.commit()

In [18]:
n = input("Enter n = ")
Name = input("Enter name = ")
Age = int(input("Enter age = "))
Address = input("Enter addres = ")
Phone = int(input("Enter phone = "))
for i in range(n):
    db.execute(f"INSERT INTO student(Name, Age, Address, Phone) VALUES(Name,Age,Address,Phone)")
database.commit()

Enter n = 2
Enter name = sam
Enter age = 21
Enter addres = humla
Enter phone = 98373633

TypeError: 'str' object cannot be interpreted as an integer