In [1]:
data = str()
n = int(input("Enter n = "))
b = open('data.csv','w')
b.write("Name,Age,Address,Phone\n")
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    phone = int(input("Enter phone = "))
    info = f"{name},{age},{add},{phone}\n"
    data+=info

b.write(data)
b.close()

Enter n = 6
Enter name = raj
Enter age = 22
Enter add = ktm
Enter phone = 9863653307
Enter name = ram
Enter age = 21
Enter add = lalitpur
Enter phone = 9810243536
Enter name = sam
Enter age = 23
Enter add = pkr
Enter phone = 9808123456
Enter name = hari
Enter age = 25
Enter add = bkt
Enter phone = 9803856781
Enter name = unsie
Enter age = 23
Enter add = jhapa
Enter phone = 9813151213
Enter name = sandesh
Enter age = 27
Enter add = dolpa
Enter phone = 9860123673

In [2]:
b = open('data.csv','r')
c = b.read()
print(c)
b.close()

Name,Age,Address,Phone
raj,22,ktm,9863653307
ram,21,lalitpur,9810243536
sam,23,pkr,9808123456
hari,25,bkt,9803856781
unsie,23,jhapa,9813151213
sandesh,27,dolpa,9860123673

In [6]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df)

   SN     Name  Age   Address       Phone
0   1      raj   22       ktm  9863653307
1   2      ram   21  lalitpur  9810243536
2   3      sam   23       pkr  9808123456
3   4     hari   25       bkt  9803856781
4   5    unsie   23     jhapa  9813151213
5   6  sandesh   27     dolpa  9860123673

In [7]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

   SN   Name  Age   Address       Phone
0   1    raj   22       ktm  9863653307
1   2    ram   21  lalitpur  9810243536
2   3    sam   23       pkr  9808123456
3   4   hari   25       bkt  9803856781
4   5  unsie   23     jhapa  9813151213

In [8]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.tail(3))

   SN     Name  Age Address       Phone
3   4     hari   25     bkt  9803856781
4   5    unsie   23   jhapa  9813151213
5   6  sandesh   27   dolpa  9860123673

In [11]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
print(df)

       Name  Age   Address       Phone
SN
1       raj   22       ktm  9863653307
2       ram   21  lalitpur  9810243536
3       sam   23       pkr  9808123456
4      hari   25       bkt  9803856781
5     unsie   23     jhapa  9813151213
6   sandesh   27     dolpa  9860123673

In [13]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
print(df.iloc[0:4,0:3])

    Name  Age   Address
SN
1    raj   22       ktm
2    ram   21  lalitpur
3    sam   23       pkr
4   hari   25       bkt

In [14]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
print(df.loc[1:5])

     Name  Age   Address       Phone
SN
1     raj   22       ktm  9863653307
2     ram   21  lalitpur  9810243536
3     sam   23       pkr  9808123456
4    hari   25       bkt  9803856781
5   unsie   23     jhapa  9813151213

In [2]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
df[(df["Age"]>22) & (df["Address"] == "bkt")]

    Name  Age Address       Phone
SN
4   hari   25     bkt  9803856781

In [3]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
df[(df["Age"]>22) | (df["Address"] == "ktm")]

       Name  Age Address       Phone
SN
1       raj   22     ktm  9863653307
3       sam   23     pkr  9808123456
4      hari   25     bkt  9803856781
5     unsie   23   jhapa  9813151213
6   sandesh   27   dolpa  9860123673

In [25]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
df1 = df[(df["Age"]>22) & (df["Address"] == "pkr")]
df1.to_csv('filtered_data.csv')

In [5]:
import pandas as pd
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    data[name] = [ntc,ncell]
print(data)
df = pd.DataFrame(data)
df.to_csv('datas.csv')

Enter n = 2
Enter name = raj
Enter ntc no = 984513636
Enter ncell no = 9808363663
Enter name = sam
Enter ntc no = 986374575
Enter ncell no = 98037272626
{'raj': [984513636, 9808363663], 'sam': [986374575, 98037272626]}

In [9]:
a = {"Sn":[1,2],'raj': [984513636, 9808363663], 'sam': [986374575, 98037272626]}
a
df = pd.DataFrame(a)
df

   Sn         raj          sam
0   1   984513636    986374575
1   2  9808363663  98037272626

In [1]:
#dict writer
import csv
fields = ['Raj','23','ktm']
with open('list.csv','a') as f:
    x = csv.writer(f)
    x.writerow(fields)

In [4]:
import csv
output = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    output.append(info)

f = open('list.csv','a')
x = csv.writer(f)
for i in output:
    x.writerow(i)
f.close()

Enter n = 2
Enter name = raj
Enter age = 23
Enter add = ktm
Enter name = sam
Enter age = 21
Enter add = pkr

In [7]:
#dictionary reader
import csv
with open('list.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row)

{'Name': 'Raj', 'age': '23', 'Address': 'ktm'}
{'Name': 'raj', 'age': '23', 'Address': 'ktm'}
{'Name': 'sam', 'age': '21', 'Address': 'pkr'}

In [9]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
df = df.drop([1,2], axis = 0)
df

       Name  Age Address       Phone
SN
3       sam   23     pkr  9808123456
4      hari   25     bkt  9803856781
5     unsie   23   jhapa  9813151213
6   sandesh   27   dolpa  9860123673

In [11]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'SN')
df = df.drop(["Phone"], axis = 1)
df

       Name  Age   Address
SN
1       raj   22       ktm
2       ram   21  lalitpur
3       sam   23       pkr
4      hari   25       bkt
5     unsie   23     jhapa
6   sandesh   27     dolpa

In [1]:
import csv
csv_columns = ['Name', 'Age', 'Address']
dict = [
    {'Name':'Aayush','Age':23,'Address':'Katmandu'},
    {'Name':'Shyam','Age':33,'Address':'Patan'}
]
with open("Python.csv", 'w') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
    writer.writeheader()
    for data in dict:
        writer.writerow(data)

In [4]:
b = open('Python.csv','r')
c = b.read()
print(c)
b.close()

Name,Age,Address

Aayush,23,Katmandu

Shyam,33,Patan

In [8]:
import pandas as pd
df = pd.read_csv('Python.csv',)
print(df)

     Name  Age   Address
0  Aayush   23  Katmandu
1   Shyam   33     Patan

In [13]:
import pandas as pd
df = pd.read_csv('Python.csv', index_col = 'Sn')
print(df)

      Name  Age   Address
Sn
1   Aayush   23  Katmandu
2    Shyam   33     Patan