In [1]:
a = "Hello"
b = 'hello'
print(type(a),type(b))

<class 'str'> <class 'str'>

In [2]:
a = "Hello"
b = 'hello'
print(a+b)

Hellohello

In [3]:
a = input("Enter name = ")
print(type(a))
print(a)

Enter name = 10
<class 'str'>
10

In [4]:
a = "Hello World"
print(a[0:5])

Hello

In [5]:
a = "Hello Python"
n = len(a)
print(a[n-1::-1])

nohtyP olleH

In [8]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = f"Hello I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = raj
Enter age = 27
Enter add = ktm
Hello I am raj. I am from ktm. I am 27

In [10]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = f"Hello I am {name}. I am from {add}. I am {age}\n"
    data+=info
print(data)

Enter n = 2
Enter name = raj
Enter age = 27
Enter add = ktm
Enter name = hari
Enter age = 25
Enter add = pokhara
Hello I am raj. I am from ktm. I am 27
Hello I am hari. I am from pokhara. I am 25

In [11]:
a = "ram aadi hari nita shyam anil"
if "ram" in a:
    print('yes')
else:
    print('no')

yes

In [12]:
a = "ram aadi hari nita shyam anil"
name = input("Enter name = ")
if name in a:
    print(f'yes {name} is present')
else:
    print('no')

Enter name = ram
yes ram is present

In [14]:
a = "ram aadi hari nita shyam anil"
name = input("Enter name = ")
if name in a:
    c = a.count(name)
    print(f'yes {name} is {c} ram')
else:
    print('no')

Enter name = ram
yes ram is 1 ram

In [10]:
a = "ram Ram aadi hari nita shyam anil"
b = a.lower()
name = input("Enter name = ")
names = name.lower()
c = b.count(names)
if name in a:
    print(f'yes {names} is {c}')
else:
    print('no')

Enter name = ram
yes ram is 2

In [16]:
a = "Ram"
print(a.upper())
print(a.lower())

RAM
ram

In [19]:
name = input("Enter name = ").upper()
print(name)

Enter name = ram
RAM

In [21]:
#replace
#remove
a = "Ram ram hari sita nita"
b = a.replace('ram','rama')
print(b)

Ram rama hari sita nita

In [23]:
a = "Ram ram hari sita nita"
b = a[0:4]
c = b[4:]
print(c)

In [25]:
a = "Ram ram hari sita nita"
b = a.replace('ram',"")
print(b)

Ram  hari sita nita

In [27]:
a = "Ram ram hari sita nita"
b = a.split()
print(b)

['Ram', 'ram', 'hari', 'sita', 'nita']

In [30]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = f"{i}{name}----{add}---{age}\n"
    data+=info
print(data)

Enter n = 2
Enter name = raj
Enter age = 23
Enter add = kjym
Enter name = ffdx
Enter age = 45
Enter add = gf
0raj----kjym---23
1ffdx----gf---45

In [1]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = f"{i} {name}----{add}---{age}\n"
    data+=info
print(data)
d = data.split('\n')
print(d)
d[1]

Enter n = 2
Enter name = raj
Enter age = 23
Enter add = ktm
Enter name = sam
Enter age = 24
Enter add = pkr
0 raj----ktm---23
1 sam----pkr---24

['0 raj----ktm---23', '1 sam----pkr---24', '']

'1 sam----pkr---24'