In [1]:
a = {}
#b = {<key>:<value>,<key>:<value>}
#indexing
#ordered
#duplicate value
#mutable

In [6]:
a = {"A":"Apple","B":"Ball"}
print(a["A"])
print(a["B"])
print(len(a))

Apple
Ball
2

In [8]:
a = {"A":"Apple","B":"Ball"}
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [9]:
a = {"A":"Apple","B":"Ball","a":"Apple"}
print(a)

{'A': 'Apple', 'B': 'Ball', 'a': 'Apple'}

In [10]:
a = {}
a["A"] = "Apple"
a["B"] = "Ball"
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [11]:
a = {}
a["Ram"]=9863653307
a["shyam"]=9841703635
print(a)

{'Ram': 9863653307, 'shyam': 9841703635}

In [1]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
        name = input("Enter name = ")
        phone = int(input("Enter phone = "))
        data[phone]=name
print(data)

Enter n = 2
Enter name = raj
Enter phone = 9863653307
Enter name = sam
Enter phone = 9841703635
{9863653307: 'raj', 9841703635: 'sam'}

In [2]:
for i in data:
    print(i)

9863653307
9841703635

In [3]:
for i in data.values():
    print(i)

raj
sam

In [5]:
for i in data.items():
    print(i)

(9863653307, 'raj')
(9841703635, 'sam')

In [7]:
name = input("Enter name = ")
for i in data.items():
    if name in i:
        print(i)
        print(i[0])

Enter name = raj
(9863653307, 'raj')
9863653307

In [9]:
del data[9841703635]
print(data)

{9863653307: 'raj'}

In [11]:
data = {"raj":36,"sam":67}
data.pop("raj")
print(data)

{'sam': 67}

In [15]:
index = []
data = {'Ram':9863653307,'Sam':9841703635}
phone = int(input("Enter = "))
for i in data.items():
    if phone in i:
        index.append(i[0])
print(index)
key = index[0]
del data[key]
print(data)

Enter = 9841703635
['Sam']
{'Ram': 9863653307}

In [16]:
a = {('ram','sam'):9865656456}
a[('ram','sam')]

9865656456

In [17]:
#list inside dictionary
#tuple inside dictionary
#dic inside dictinary

In [18]:
a = {"A":['apple','ant'],"B":['ball','bat']}
print(a)

{'A': ['apple', 'ant'], 'B': ['ball', 'bat']}

In [19]:
for i in a.items():
    print(i)

('A', ['apple', 'ant'])
('B', ['ball', 'bat'])

In [20]:
a = {"A":['apple','ant'],"B":['ball','bat']}
a["c"]=['cat','cow']
print(a)

{'A': ['apple', 'ant'], 'B': ['ball', 'bat'], 'c': ['cat', 'cow']}

In [25]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    data[name] = [ntc,ncell]
print(data)

Enter n = 2
Enter name = ram
Enter ntc no = 98637444
Enter ncell no = 8478457457
Enter name = sam
Enter ntc no = 43764376
Enter ncell no = 34764367342
{'ram': [98637444, 8478457457], 'sam': [43764376, 34764367342]}

In [26]:
data['ram'][1]=9863653307
print(data)

{'ram': [98637444, 9863653307], 'sam': [43764376, 34764367342]}

In [27]:
data = {'ram': [98637444, 9863653307], 'sam': [43764376, 34764367342]}
phone = int(input("Enter phone = "))
for i in data.items():
    if phone in i[1]:
        print(i)

Enter phone = 9863653307
('ram', [98637444, 9863653307])

In [1]:
#dicts inside discts
a = {"Ram":{"ntc":9863653307,"ncell":9810252525},
     "Sam":{"ntc":9841525252,"ncell":9808181818}}
a["Hari"]={"ntc":98436363636,"ncell":98380202020}
print(a)

{'Ram': {'ntc': 9863653307, 'ncell': 9810252525}, 'Sam': {'ntc': 9841525252, 'ncell': 9808181818}, 'Hari': {'ntc': 98436363636, 'ncell': 98380202020}}

In [3]:
a["Hari"]["land"]=5201033
print(a)

{'Ram': {'ntc': 9863653307, 'ncell': 9810252525}, 'Sam': {'ntc': 9841525252, 'ncell': 9808181818}, 'Hari': {'ntc': 98436363636, 'ncell': 98380202020, 'land': 5201033}}

In [ ]:
#dicts inside list
a = [{"name":"raj","ntc":9841525252,"ncell":9808181818},
    {"name":"sam","ntc":9863653307,"ncell":9810252525},
    {"name":"hari","ntc":98436363636,"ncell":98380202020},
      ]

In [4]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    data = {'Name':name,'Ntc':ntc,"Ncell":ncell}
    a.append(data)
print(a)

Enter n = 2
Enter name = raj
Enter ntc = 9863653307
Enter ncell = 9810181818
Enter name = sam
Enter ntc = 9841756464
Enter ncell = 9808161514
[{'Name': 'raj', 'Ntc': 9863653307, 'Ncell': 9810181818}, {'Name': 'sam', 'Ntc': 9841756464, 'Ncell': 9808161514}]

In [6]:
for i in a:
    print(i["Name"])
    print(i["Ntc"])
    print(i["Ncell"])

raj
9863653307
9810181818
sam
9841756464
9808161514

In [8]:
a = [{'Name': 'raj', 'Ntc': 9863653307, 'Ncell': 9810181818}, {'Name': 'sam', 'Ntc': 9841756464, 'Ncell': 9808161514}]
a[0]["Name"] = "Radhe"
print(a)

[{'Name': 'Radhe', 'Ntc': 9863653307, 'Ncell': 9810181818}, {'Name': 'sam', 'Ntc': 9841756464, 'Ncell': 9808161514}]

In [2]:
#WAP to enter data of students (marks) and make a complete system
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    english = int(input("Enter english mark = "))
    nepali = int(input("Enter nepali mark = "))
    science = int(input("Enter science mark = "))
    math = int(input("Enter math mark = "))
    social = int(input("Enter social mark = "))
    account = int(input("Enter english mark = "))
    computer = int(input("Enter computer mark = "))
    health = int(input("Enter health mark = "))
    total = english+nepali+science+math+social+account+computer+health
    per = total/8
    data = {"Name":name,"English":english,"Nepali":nepali,"Science":science,"Math":math,"Social":social,"Account":account,"Computer":computer,
           "Health":health,"Total":total,"Percentage":per}
    a.append(data)
print(a)
a[1]["Nepali"]=80
N =a[1]["Nepali"]
t = english+N+science+math+social+account+computer+health
a[1]["Total"]=t
p = t/8
a[1]["Percentage"]=p
print(a)

Enter n = 2
Enter name = raj
Enter english mark = 78
Enter nepali mark = 70
Enter science mark = 90
Enter math mark = 98
Enter social mark = 78
Enter english mark = 82
Enter computer mark = 88
Enter health mark = 85
Enter name = sam
Enter english mark = 86
Enter nepali mark = 77
Enter science mark = 92
Enter math mark = 95
Enter social mark = 88
Enter english mark = 85
Enter computer mark = 94
Enter health mark = 86
[{'Name': 'raj', 'English': 78, 'Nepali': 70, 'Science': 90, 'Math': 98, 'Social': 78, 'Account': 82, 'Computer': 88, 'Health': 85, 'Total': 669, 'Percentage': 83.625}, {'Name': 'sam', 'English': 86, 'Nepali': 77, 'Science': 92, 'Math': 95, 'Social': 88, 'Account': 85, 'Computer': 94, 'Health': 86, 'Total': 703, 'Percentage': 87.875}]
[{'Name': 'raj', 'English': 78, 'Nepali': 70, 'Science': 90, 'Math': 98, 'Social': 78, 'Account': 82, 'Computer': 88, 'Health': 85, 'Total': 669, 'Percentage': 83.625}, {'Name': 'sam', 'English': 86, 'Nepali': 80, 'Science': 92, 'Math': 95, 'Social': 88, 'Account': 85, 'Computer': 94, 'Health': 86, 'Total': 706, 'Percentage': 88.25}]

In [3]:
a[0]['Science']=95
s = a[0]['Science']
T = english+nepali+s+math+social+account+computer+health
per = T/8
a[0]['Percentage']=per
print(a)

[{'Name': 'raj', 'English': 78, 'Nepali': 70, 'Science': 95, 'Math': 98, 'Social': 78, 'Account': 82, 'Computer': 88, 'Health': 85, 'Total': 669, 'Percentage': 88.25}, {'Name': 'sam', 'English': 86, 'Nepali': 80, 'Science': 92, 'Math': 95, 'Social': 88, 'Account': 85, 'Computer': 94, 'Health': 86, 'Total': 706, 'Percentage': 88.25}]

In [4]:
index = []
name = input("Enter name = ")
for i in range(len(a)):
    if a[i]["Name"]==name:
        print(i)
        index.append(i)
print(index)

Enter name = sam
1
[1]