In [2]:
a = []
b = [1,2,3,4,5]
print(type(a))
print(b)

<class 'list'>
[1, 2, 3, 4, 5]

In [3]:
#list
#-it follows indexing
#-deplicate numbers
#-ordered
#-mutable

In [5]:
a = ['apple','ball','cat','dog']
print(a[1])

ball

In [6]:
a = ['apple','ball','cat','dog']
print(a[0:3])

['apple', 'ball', 'cat']

In [7]:
a = ['apple','ball','cat','dog']
print(a[0:4:2])

['apple', 'cat']

In [8]:
a = ["apple","ball"]
b = ["cat","dog"]
print(a+b)

['apple', 'ball', 'cat', 'dog']

In [9]:
a = ["apple","ball"]
print(a*2)

['apple', 'ball', 'apple', 'ball']

In [10]:
a = ['apple','ball','cat','dog']
a[0] = 'ant'
print(a)

['ant', 'ball', 'cat', 'dog']

In [11]:
#user define list
names = []
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    names+=[name]
print(names)

Enter the value of n = 2
Enter name = raj
Enter name = sam
['raj', 'sam']

In [3]:
y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y+=[x]
print("The list is \n",y)
print("The sum of no is = ",sum(y))
print("The avg of the no is = ",sum(y)/n)
print("The max no is = ",max(y))
print("The min no is = ",min(y))
y.sort()
print("List after sorting is = ",y)
y.reverse()
print("List after reversing is = ",y)

Enter the value of n = 5
Enter x = 18
Enter x = 564
Enter x = 765
Enter x = 988
Enter x = 344
The list is
 [18, 564, 765, 988, 344]
The sum of no is =  2679
The avg of the no is =  535.8
The max no is =  988
The min no is =  18
List after sorting is =  [18, 344, 564, 765, 988]
List after reversing is =  [988, 765, 564, 344, 18]

In [5]:
a = ['apple','zebra','1ball','.xy']
a.sort()
print(a)

['.xy', '1ball', 'apple', 'zebra']

In [7]:
a = ['apple','ball','cat','dog']
if 'apple' in a:
    print("yes",a.count('apple'))

yes 1

In [8]:
a = ['apple','ball','cat','dog']
for i in a:
    print(i)

apple
ball
cat
dog

In [9]:
a = ['apple','ball','cat','dog','apple']
for i in range(len(a)):
    if 'apple'== a[i]:
        print(i)

0
4

In [11]:
a = ['apple','ball','cat','dog','apple']
name = input("Enter name = ")
for i in range(len(a)):
    if name== a[i]:
        print(i)

Enter name = ball
1

In [12]:
#append() insert()

In [13]:
a = []
b = "apple"
a.append(b)
print(a)

['apple']

In [15]:
a = ['apple','ball','cat','dog'] #index
a.insert(1,"bat")
print(a)

['apple', 'bat', 'ball', 'cat', 'dog']

In [16]:
names = []
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    names.append(name)
print(names)

Enter the value of n = 3
Enter name = raj
Enter name = gar
Enter name = nhvc
['raj', 'gar', 'nhvc']

#remove pop del

In [2]:
a = ['Apple','Ball','Cat','Dog']
a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog']

In [5]:
a = ['Apple','Ball','Cat','Dog','Apple']
n = a.count('Apple')
for i in range(n):
    a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog']

In [7]:
a = ['Apple','Ball','Cat','Dog','Apple']
for i in a:
    if i == 'Apple':
        a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog']

In [8]:
a = ['Apple','Ball','Cat','Dog','Apple']
del a[0:3]
print(a)

['Dog', 'Apple']

In [9]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.pop()
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [10]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.pop(3)
print(a)

['Apple', 'Ball', 'Cat', 'Apple']

In [11]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.clear()
a

[]

In [13]:
#List inside list
a = [[],[],[]]
print(type(a))
print(len(a))

<class 'list'>
3

In [14]:
a  = [[1,2,3],[4,5,6],[7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
output = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    output.append(info)
print(output)

Enter n = 2
Enter name = raj
Enter age = 24
Enter add = ktm
Enter name = sam
Enter age = 24
Enter add = pkr
[['raj', 24, 'ktm'], ['sam', 24, 'pkr']]

In [19]:
a = [['ram','23','ktm']]
b = [['sam','21','plt']]
c = a+b
print(c)

[['ram', '23', 'ktm'], ['sam', '21', 'plt']]

In [20]:
c[0]

['ram', '23', 'ktm']

In [21]:
c[0][0]

'ram'

In [22]:
c[0][0] = "Unise"
print(c)

[['Unise', '23', 'ktm'], ['sam', '21', 'plt']]

In [23]:
c[0].append("Nepal")
print(c)

[['Unise', '23', 'ktm', 'Nepal'], ['sam', '21', 'plt']]

In [24]:
z = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
    z.append(y)
print(z)

Enter r = 2
Enter c = 2
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
[[1, 2], [3, 4]]

In [25]:
output = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = [name,price,quantity,total]
    output.append(info)
print(output)

Enter n = 2
Enter name = apple
Enter price = 100
Enter quantity = 2
Enter name = banana
Enter price = 120
Enter quantity = 3
[['apple', 100, 2, 200], ['banana', 120, 3, 360]]

In [29]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = f"{name}----{add}---{age}\n"
    data+=info
print(data)

Enter n = 2
Enter name = raj
Enter age = 23
Enter add = ktm
Enter name = sam
Enter age = 24
Enter add = pkr
raj----ktm---23
sam----pkr---24

In [31]:
x = data.split('\n')[0:-1]
print(x)
splited_value = []
for i in x:
    output = i.split('---')
    splited_value.append(output)
print(splited_value)

['raj----ktm---23', 'sam----pkr---24']
[['raj', '-ktm', '23'], ['sam', '-pkr', '24']]